#nav_main {
	background: none;
	padding: 10px;
	border: none;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

#nav_main>* {
	text-decoration: none;
	color: #BBBBBB;
}

.nav_brand {
	font-size: 1.2em;
}

body {
	font-family: 'Space Mono', monospace;
	background-color: #190916;
	overflow: hidden;
}

.pages {
	display: flex;
	width: 300%;
	padding: 0;
	height: 100vh;
	box-sizing: border-box;
	clip-path: content-box;
}

.page {
	width: 100%;
	display: flex;
	justify-content: center;
	transition: all 0.7s;
	color: white;
	transform: translateX(-100%);
}

#sketch {
	width: 50%;
}

#sketch>canvas {
	width: 100%;
}

@media (max-width: 576px) {
	nav_main>* {
		display: hidden;
	}

	nav_main>.nav_brand {
		display: inline;
	}
}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

@media (max-width: 1200px) {}

@media (max-width: 1400px) {}