/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS reset */

body {
	font-family: 'Space Mono', monospace;
	background-color: #160714;
	overflow-x: hidden;
}

p {
	line-height: 120%;
}

li {
	margin: 10px;
}

footer {
	background-color: #000;
	border-top: 1px solid #555;
	margin-top: 50px;
	height: 125px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

footer>* {
	margin: 5px;
}

footer>a,
footer>a:hover {
	text-decoration: none;
	color: #bbb;
}

svg {
	fill: #bbb;
}

*::-webkit-scrollbar {
	/* Hide scrollbar for Chrome, Safari and Opera */
	display: none;
}

* {
	/* Hide scrollbar for IE, Edge and Firefox */
	/* IE and Edge */
	-ms-overflow-style: none;
	/* Firefox */
	scrollbar-width: none;
}

.icons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.icons>* {
	margin: 5px;
}

.tall {
	grid-row: 1 / span 2;
}

.taller {
	grid-row: 1 / span 3;
}

.tallest {
	grid-row: 1 / span 4;
}

.flip-card {
	perspective: 1000px;
}

.flip-card h1 {
	color: #bbb;
	font-weight: 400;
	font-size: medium;
	margin: 5px;
	padding: 0;
}

.flip-card p {
	color: #999;
	font-size: small;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #090909;
	backface-visibility: hidden;
	border: 1px solid #555;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flip-card-back {
	transform: rotateY(180deg);
}

.cardnav {
	position: absolute;
	top: 3px;
	right: 3px;
}

#nav_main {
	background-color: #222;
	padding: 10px;
	border-bottom: 1px solid #555;
	margin: 0;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.nav_item {
	margin: 0;
	border: none;
	padding: 0;
}

.nav_item:nth-child(1) {
	text-align: left;
}

.nav_item:nth-child(2) {
	text-align: center;
}

.nav_item:nth-child(3) {
	text-align: right;
}

#nav_main>.nav_item {
	flex-basis: 30%;
}

.nav_item>*,
.nav_item>*:hover {
	font-size: 1em;
	text-decoration: none;
	color: #BBBBBB;
}

.nav_brand,
.nav_brand:hover {
	font-size: 1.2em;
}

.pages {
	display: flex;
	width: 300%;
	padding: 0;
	box-sizing: border-box;
	clip-path: content-box;
}

.page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	transition: all 0.7s;
	color: white;
	transform: translateX(-100%);
}

#banner {
	display: block;
	margin: 30px 0 0 0;
	padding: 10px;
	width: 65%;
	background-color: #2a1342;
	border: 5px solid #bbb;
	border-radius: 10px;
	color: #bbb;
}

#play_area {
	margin: 0;
	margin-bottom: 20px;
	border: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

#sketch {
	width: 50vw;
}

#sketch>canvas {
	width: 100%;
}

#misc_data {
	width: 90%;
	display: grid;
	gap: 3vw;
	grid-template-rows: repeat(4, minmax(260px, 1fr));
	grid-template-columns: repeat(3, minmax(160px, 1fr));
}

#card_0 {
	width: 16vw;
	height: 16vw;
}

#card_0 .pfp {
	width: 20%;
	height: 20%;
	clip-path: circle(50%);
	border: 2px solid #555;
	border-radius: 50%;
}

#card_1 {
	width: 16vw;
	height: 16vw;
}

#card_3 {
	grid-column: 2;
}

#card_4 {
	grid-row-start: 2;
	grid-column: 3;
}

.mobile {
	display: none;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
	#sketch {
		width: 90vw;
	}

	#card_0,
	#card_1 {
		display: none;
	}

	#misc_data {
		grid-template-rows: repeat(6, minmax(260px, 1fr));
		grid-template-columns: repeat(2, minmax(160px, 1fr));
	}

	#card_3 {
		grid-column: 2;
	}

	#card_4 {
		grid-row-start: 2;
		grid-column: 1;
	}
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
	.nav_item>* {
		display: none;
	}

	.nav_brand,
	.mobile {
		display: inline !important;
	}

	#misc_data {
		grid-template-rows: repeat(12, minmax(260px, 1fr));
		grid-template-columns: minmax(100px, 1fr);
	}

	#card_3 {
		grid-row-start: 5;
		grid-column: 1;
	}

	#card_4 {
		grid-row-start: 2;
	}
}