.mobile {
	display: none;
}

#nav_main {
	background-color: #222;
	padding: 10px;
	border-bottom: 1px solid #555;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

footer {
	background-color: #000;
	border-top: 1px solid #555;
	margin-top: 50px;
	height: 100px;
}

.nav_item {
	margin: 0;
	border: none;
	padding: 0;
}

.nav_item:nth-child(1) {
	text-align: left;
}

.nav_item:nth-child(2) {
	text-align: center;
}

.nav_item:nth-child(3) {
	text-align: right;
}

#nav_main>.nav_item {
	width: 25%;
}

.nav_item>*,
.nav_item>*:hover {
	text-decoration: none;
	color: #BBBBBB;
}

.nav_brand {
	font-size: 1.2em;
}

body {
	font-family: 'Space Mono', monospace;
	background-color: #160714;
	overflow-x: hidden;
}

.pages {
	display: flex;
	width: 300%;
	padding: 0;
	box-sizing: border-box;
	clip-path: content-box;
}

.page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	transition: all 0.7s;
	color: white;
	transform: translateX(-100%);
}

#sketch {
	width: 50vw;
}

#sketch>canvas {
	width: 100%;
}

svg {
	fill: #bbb;
}

.flip-card {
	perspective: 1000px;
}

.flip-card h1 {
	color: #bbb;
	font-weight: 400;
	font-size: medium;
	margin: 5px;
	padding: 0;
}

.flip-card p {
	color: #999;
	font-size: small;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #090909;
	backface-visibility: hidden;
	border: 1px solid #555;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flip-card-back {
	transform: rotateY(180deg);
}

.cardnav {
	position: absolute;
	top: 3px;
	right: 3px;
}

#card_2,
#card_3 {
	width: 20vw;
	height: 20vw;
}

#card_1 {
	width: 30vw;
	height: 500px;
}

#play_area {
	margin: 0;
	border: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

#card_2 .pfp {
	width: 20%;
	height: 20%;
	clip-path: circle(50%);
	border: 2px solid #555;
	border-radius: 50%;
}

@media (max-width: 576px) {
	.nav_item>* {
		display: none;
	}

	.nav_brand,
	.mobile {
		display: inline !important;
	}

	#card_1 {
		width: 60vw;
	}
}

@media (max-width: 768px) {}

@media (max-width: 992px) {
	#sketch {
		width: 90vw;
	}

	#card_2,
	#card_3 {
		display: none;
	}
}

@media (max-width: 1200px) {}

@media (max-width: 1400px) {}